* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e9ecf8;
}

:root {
    --main-color: #0A3871;
}

.logo-a {
    width: 20px;
    margin: 16px;
}

.sections-container {
    display: flex;
    margin: 30px 60px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}
/*Entrada------------------------------------------------------------------*/
.entrada {
    width: 380px;
}

.texto-entrada {
    height: 300px;
}

/*textarea:*/
.texto-usuario {
    width: 100%;
    height: 95%;
    font-size: 24px;
    background-color: transparent; 
    border: none; 
    color: var(--main-color);
    padding: 16px;
}
.texto-usuario:focus-visible {
    outline: none;
}
::placeholder {
    color: var(--main-color); 
}

.advertencia {
    display: flex;
    align-items: center;
    margin: 32px 0 16px;
}

.advertencia img {
    vertical-align: middle;
    margin-right: 8px
}

.advertencia-frase {
    font-size: 14px;
    color: #67808e; 
}

.botones-principales {
    display: flex;
    justify-content: space-between;
}

.btn-encriptar, .btn-desencriptar {
    min-width: 106px;
}

.btn-encriptar {
    color: #FFFFFF; 
    background-color: var(--main-color);
    width: 50%;
    height: 45px;
    border: none; 
    border-radius: 16px;
    cursor: pointer;
}

.btn-desencriptar {
    color: var(--main-color); 
    border: 1px solid var(--main-color);
    background-color: #D8DFE8;
    width: 45%;

    /* width: 220px; */
    height: 45px;
    border-radius: 16px;
    cursor: pointer;
}




/*Salida------------------------------------------------------------------*/
.salida {
    min-height: 410px;
}
/*Estilo general de la salida*/
.salida-inicial, .texto-resultado {
    background-color: #FFFFFF; 
    border-radius: 24px;
    height: calc(100% - 20px);
    width: 235px;    
    box-shadow: 0 5px 32px 8px #dadde8;
    border: none;
    padding: 20px;
}

/*"Salida" por defecto:*/
.salida .salida-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.salida-inicial .muñeco {
    width: 220px;
    background: #FFFFFF;
}

.salida-inicial h3 {
    background: #FFFFFF;
    color: #343A40;
    font-size: 20px;
    margin: 8px 0;
}

.salida-inicial p {
    background: #FFFFFF; 
    color: #495057;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}

/*textarea: salida del texto des/encriptado*/
.texto-salida {
    height: calc(100% - 20px);
}

.texto-salida .texto-resultado {
    font-size: 19px;
    color: #495057;
}

.boton-secundario {
    position: relative;
} 

.btn-copiar {
    position: absolute; 
    bottom: 20px;
    right: 23px;
    color: var(--main-color); 
    border: 1px solid var(--main-color);
    background-color: #FFFFFF;
    width: 220px;
    height: 45px;
    border-radius: 16px;
    cursor: pointer;
}



/*Mi info adicional al pie de página*/
footer {
    background-color: #c7cee4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    font-family: 'Inter', sans-serif;
}

.copyright {
    display: flex; 
    font-size: 16px;
    font-size: 15px;
    align-items: center;
}

.copyright img {
    height: 24px;
    vertical-align: middle;
}

.copyright a {
    font-style: normal;
}

.footer-right {
    display: flex;
    gap: 8px;
}

.linkedin {
    margin-right: 16px;
}