* {
    background-color: #e9ecf8; /*F3F5FC*/
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.logo-a {
    width: 20px;
    margin: 16px;
}

.sections-container {
    display: flex;
    margin: 20px 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}
/*Entrada------------------------------------------------------------------*/
/* .entrada {
    margin: 50px 160px;
} */

.texto-entrada {
    /* height: 370px; */
}

/*textarea:*/
.texto-usuario {
    width: 100%;
    /* height: 370px; */
    font-size: 24px;
    background-color: transparent; 
    border: none; 
    color: #0A3871;
}

::placeholder {
    color: #0A3871; 
}

.advertencia {
    display: flex;
    align-items: center;
}

.advertencia img {
    vertical-align: middle;
    margin-right: 8px
}

.advertencia-frase {
    font-size: 12px;
    color: #67808e; 
}

.botones-principales {
    margin-top: 5px;
}

.btn-encriptar {
    color: #FFFFFF; 
    background-color: #0A3871;
    width: 220px;
    height: 45px;
    border: none; 
    border-radius: 16px;
    cursor: pointer;
    margin-right: 12px;
}

.btn-desencriptar {
    color: #0A3871; 
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
    width: 220px;
    height: 45px;
    border-radius: 16px;
    cursor: pointer;
}




/*Salida------------------------------------------------------------------*/

/*Estilo general de la salida*/
.salida-inicial, .texto-resultado {
    background-color: #FFFFFF; 
    border-radius: 24px;
    height: calc(100% - 20px);
    width: 235px;    
    box-shadow: 0 5px 32px 8px #dadde8;
    border: none;
    padding: 20px;
}

/*"Salida" por defecto:*/
.salida .salida-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.salida-inicial .muñeco {
    width: 220px;
    background: #FFFFFF;
}

.salida-inicial h3 {
    background: #FFFFFF;
    color: #343A40;
    font-size: 20px;
}

.salida-inicial p {
    background: #FFFFFF; 
    color: #495057;
    font-size: 14px;
    font-weight: normal;
}

/*textarea: salida del texto des/encriptado*/
.texto-salida .texto-resultado {
    font-size: 19px;
    color: #495057;
}

.boton-secundario {
    position: relative;
} 

.btn-copiar {
    position: absolute; 
    bottom: 20px;
    right: 23px;
    color: #0A3871; 
    border: 1px solid #0A3871;
    background-color: #FFFFFF;
    width: 220px;
    height: 45px;
    border-radius: 16px;
    cursor: pointer;
}



/*Mi info adicional al pie de página*/
footer {
    width: 100%;
    height: 6%;
    display: flex;
    background: #c7cee4;
    justify-content: center;
}

.copyright {
    background: transparent; 
    display: flex; 
    font-size: 15px;
    font-style: italic;
    align-items: center;
}

.copyright img {
    height: 24px;
    background: transparent;
    vertical-align: middle;
}

.copyright a {
    background: transparent; 
    font-style: normal;
}